# Managed by Ansible: ISC DHCP IPv4 configuration.
# Network values are supplied by the playbook that invokes the DHCP role.

allow booting;
allow bootp;

subnet {{ dhcp_subnet }} netmask {{ dhcp_netmask }} {
  range {{ dhcp_range_start }} {{ dhcp_range_end }};
  option broadcast-address {{ dhcp_broadcast_address }};
  option routers {{ dhcp_gateway }};
  option domain-name-servers {{ dhcp_dns_servers | join(', ') }};
}
