# Managed by Ansible: HTTP virtual host publishing PXE installation content.
server {
    listen {{ nginx_pxe_listen_port }} default_server;
    listen [::]:{{ nginx_pxe_listen_port }} default_server;

    server_name {{ nginx_pxe_server_name }};
    root {{ nginx_pxe_root }};

    location / {
        autoindex on;
        try_files $uri $uri/ =404;
    }
}
